  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <h1><%= @artist.name %></h1>
        <% if @artist.image.attachment.present? %>
          <%= image_tag(@artist.image) %>
        <% end %>
      </div>
      <div class="col-7">
        <table class="table table-hover">
          <tbody>
            <%= render @songs %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
