<div>
  <tr>
    <td class="align-middle"><p><strong><%= song.title %></strong></p></td>
    <td class="align-middle"><p><strong><%= song.artist %></strong></p></td>
    <td>
      <audio id="player" controls>
        <source src="<%= song.track.url %>" type="audio/mp3">
      </audio>
    </td>
  </tr>
</div>

